.input-group {
  width: 15rem;
}

.input-group-text {
  border: none;
  height: 2rem;
}
.input-list .input-group-text {
  color: var(--bs-light);
}
.input-task .input-group-text {
  color: var(--bs-success);
}

/* INPUT FIELD */

.form-control {
  border: none;
  border-radius: 0;
}

.form-control:focus {
  box-shadow: none;
}

.input-list .form-control {
  color: var(--bs-light);
  border-bottom: var(--bs-light) solid 1px;
}
.input-task .form-control {
  color: var(--bs-success);

  border-bottom: var(--bs-success) solid 1px;
}
.input-list .form-control:focus {
  border-bottom: var(--bs-light) solid 1px;
}
.input-task .form-control:focus {
  border-bottom: var(--bs-success) solid 1px;
}
