.todo-list-item {
  transition: 0.3s;
}
.todo-list-item:hover {
  cursor: pointer;
}
.todo-list-item.active {
  font-weight: bold;
  font-size: 1.8rem;
}

.list-btn {
  margin: 0;
  padding: 0;

  border: none;
  color: inherit;
  background-color: transparent;

  font-size: inherit;
  font-weight: inherit;
}
