html * {
  /* border: solid black 1px; */
}
.todo-list-item:hover {
  cursor: pointer;
}
.todo-list-item.active {
  font-weight: bold;
  transform-origin: -10px;
  transform: scale(1.3);
}

/* INPUTS */

.input-group {
  width: 15rem;
}
.input-group-text {
  border: none;
  height: 2rem;
}

.input-list .input-group-text {
  color: var(--bs-light);
}
.input-task .input-group-text {
  color: var(--bs-success);
}

.form-control {
  border: none;
  border-radius: 0;
}

.form-control:focus {
  box-shadow: none;
}
.input-list .from-control {
  border-bottom: var(--bs-light) solid 1px;
}
.input-task .from-control {
  border-bottom: var(--bs-success) solid 1px;
}
.input-list .form-control:focus {
  border-bottom: var(--bs-light) solid 1px;
}
.input-task .form-control:focus {
  border-bottom: var(--bs-success) solid 1px;
}

/* TASKS */

.task--done {
  text-decoration: line-through;
  color: lightgray;
}

/* TASK BTNS */

.task-btns {
  width: 150px;
}

.task-btn-check:hover {
  background-color: var(--bs-success);
}
.task-btn-uncheck:hover {
  background-color: var(--bs-orange);
}
.task-btn-delete:hover {
  background-color: var(--bs-danger);
}
